.client-strip-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
  display: flex;
}

.client-strip-track {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}

.client-strip-group {
  display: flex;
  gap: 60px;
  padding: 0 30px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .client-strip-group {
    gap: 30px;
    padding: 0 15px;
  }
}
